  entryPoints:
    web:
      address: ":80"
      http:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
    websecure:
      address: ":443"

  providers:
    docker:
      exposedByDefault: false
      network: we-meet-network
    file:
      filename: /etc/traefik/traefik.yml
      watch: true

  tls:
    certificates:
      - certFile: /etc/traefik/ssl/wildcard.crt
        keyFile: /etc/traefik/ssl/wildcard.key

    stores:
      default:
        defaultCertificate:
          certFile: /etc/traefik/ssl/wildcard.crt
          keyFile: /etc/traefik/ssl/wildcard.key

  log:
    level: DEBUG

  http:
    routers:
      we-meet-backend:
        entryPoints: [websecure]
        rule: "PathPrefix(`/api`)"
        service: we-meet-backend
        tls: {}

      we-meet-frontend:
        entryPoints: [websecure]
        rule: "PathPrefix(`/`)"
        service: we-meet-frontend
        tls: {}

    services:
      we-meet-backend:
        loadBalancer:
          servers:
            - url: "http://we-meet-backend:3000"

      we-meet-frontend:
        loadBalancer:
          servers:
            - url: "http://we-meet-frontend:3003"
